<?xml version="1.0" encoding="utf-8"?>
<web-app mlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
  <display-name>Arachnolingua Web Application</display-name>


  <filter>
    <filter-name>CORS</filter-name>
    <filter-class>com.thetransactioncompany.cors.CORSFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>CORS</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>


  <servlet>
    <servlet-name>taxon</servlet-name>
    <servlet-class>org.arachb.api.Taxon</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>behavior</servlet-name>
    <servlet-class>org.arachb.api.Behavior</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>publication</servlet-name>
    <servlet-class>org.arachb.api.Publication</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>arachb</servlet-name>
    <servlet-class>org.arachb.api.ArachbPages</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>public_ontology</servlet-name>
    <servlet-class>org.arachb.api.PublicOntology</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>startup</servlet-name>
    <servlet-class>org.arachb.api.Startup</servlet-class>
    <load-on-startup>5</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>taxon</servlet-name>
    <url-pattern>/taxon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>taxon</servlet-name>
    <url-pattern>/taxon/events</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>behavior</servlet-name>
    <url-pattern>/behavior</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>publication</servlet-name>
    <url-pattern>/publication</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>arachb</servlet-name>
    <url-pattern>/arachb/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>public_ontology</servlet-name>
    <url-pattern>/ontology</url-pattern>
  </servlet-mapping>

  <error-page>
    <error-code>404</error-code>
    <location>/pages/404.html</location>
  </error-page>

  <!-- Define an error handler for java.lang.Throwable -->
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/pages/error.html</location>
  </error-page>


</web-app>
